<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
		body {
		  padding-left: 2em;
		  font-family: Helvetica, Arial, sans-serif;
		  font-size: 10px;
		  color: #44B78B;
		  background-color: #F1FFF7 }
		h1 {
		  font-size: 2rem;
		}
		h2 {
		  font-size: 1.5rem;
		}

		ul,ol,p {
		  font-size: 1.5rem;
		}

		li, p {
		  line-height: 1.5;
		}
		a:link {
		  color: blue }
		a:visited {
		  color: gray }
	</style>
</head>
<body>
<h1>Ситуация с предложением и ценами на недвижимость в Крыму в 2022 году</h1>
<ol>
    <li><h2>Количество новых предложений о продаже квартир-вторичка</h2>
        <img src="image_out/histogram_vtorichka.png" alt="Гистограмма, показывающая количество предложений квартир-вторички в Крыму по дням" title="Количество новых предложений о продаже квартир-вторички в Крыму">
    </li>
    <li><h2>Количество новых предложений о продаже квартир-новострой</h2>
        <img src="image_out/histogram_novostroy.png" alt="Гистограмма, показывающая количество предложений квартир-новостроя в Крыму по дням" title="Количество новых объявлений по дням квартиры-новостроя в Крыму">
    </li>
    <li><h2>Количество новых предложений о продаже домов, дач и коттеджей</h2>
        <img src="image_out/histogram_doma_dachi_kottedzhi.png" alt="Гистограмма, показывающая количество предложений домов, дач и коттеджей в Крыму по дням" title="Количество новых предложений о продаже домов, дач и коттеджей в Крыму">
    </li>
    <li><h2>Средняя цена руб. за квадратный метр по дням вся недвижимость</h2>
        <img src="image_out/av_price.png" alt="Гистограмма, показывающая среднюю стоимость квадратного метра недвижимости в Крыму" title="Средняя стоимость квадратного метра руб. недвижимости в Крыму по дням, вся недвижимость">
    </li>
    <li><h2>Количество новых предложений о продаже квартир-вторички из ТОП10 городов по количеству предложений</h2>
        <img src="image_out/histogram_cities.png" alt="Гистограмма, показывающая количество предложений по городам из ТОП10 городов по количеству объявлений" title="Количество новых предложений по городам из ТОП10 городов по количеству объявлений">
    </li>
    <li><h2>Количество новых предложений по квартирам-вторички по Севастополю по дням</h2>
        <img src="image_out/histogram_sevastopol.png" alt="Гистограмма, показывающая количество предложений недвижимости Севастополя по дням" title="Количество новых предложений недвижимости в Севастополе по дням">
    </li>
</ol>


</body>
</html>