<!DOCTYPE html>
<html lang="ru">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KNMNJ32HFR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KNMNJ32HFR');
</script>
<!-- Google tag (gtag.js) -->
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
		body {
		  padding-left: 2em;
		  font-family: Helvetica, Arial, sans-serif;
		  font-size: 10px;
		  color: #44B78B;
		  background-color: #F1FFF7 }
		h1 {
		  font-size: 2rem;
		}
		h2 {
		  font-size: 1.5rem;
		}
        h3 {
		  font-size: 1.3rem;
		}
         h4 {
		  font-size: 1.1rem;
		}

		ul,ol,p {
		  font-size: 1.5rem;
		}

		li, p {
		  line-height: 1.5;
          font-size: 1.3rem;
		}
		a:link {
		  color: blue }
		a:visited {
		  color: gray }

       .image-container {
            display: flex; /* Используем flex-контейнер для отображения дочерних элементов в строку */
        }

        .image-container img {
            margin-right: 10px; /* Добавляем небольшой отступ между картинками */
        }
	</style>
</head>
<body>
<h1><img src="image_out/uk-flag.png" alt="Прапор України" title="Прапор України">&nbsp;Крим – це Україна!</h1>
<h2>Ситуация с предложением и ценами на недвижимость в Крыму в 2022 году</h2>
<ol>

    <li><h3>Количество новых предложений о продаже квартир-вторичка</h3>
        <div class="image-container">
        <img src="image_out/histogram_vtorichka_1.png" alt="Гистограмма, показывающая количество предложений квартир-вторички в Крыму по дням c 2022-01-01 по 2023-06-01" title="Количество новых предложений о продаже квартир-вторички в Крыму по дням c 2022-01-01 по 2023-06-01">
        <img src="image_out/histogram_vtorichka_2.png" alt="Гистограмма, показывающая количество предложений квартир-вторички в Крыму по дням c 2023-06-01 по сегодняшний день" title="Количество новых предложений о продаже квартир-вторички в Крыму по дням c 2023-06-01 по сегодняшний день">
        </div>
    </li>
    <li><h3>Количество новых предложений о продаже квартир-новострой</h3>
        <div class="image-container">
        <img src="image_out/histogram_vtorichka_novostroy_1.png" alt="Гистограмма, показывающая количество предложений квартир-новостроя в Крыму по дням c 2022-01-01 по 2023-06-01" title="Количество новых объявлений по дням квартиры-новостроя в Крым по дням c 2022-01-01 по 2023-06-01">
        <img src="image_out/histogram_vtorichka_novostroy_2.png" alt="Гистограмма, показывающая количество предложений квартир-новостроя в Крыму по дням c 2023-06-01 по сегодняшний день" title="Количество новых объявлений по дням квартиры-новостроя в Крым по дням c 2023-06-01 по сегодняшний день">
        </div>
    </li>
    <li><h3>Количество новых предложений о продаже домов, дач и коттеджей</h3>
        <div class="image-container">
        <img src="image_out/histogram_doma_dachi_kottedzhi_1.png" alt="Гистограмма, показывающая количество предложений домов, дач и коттеджей в Крыму по дням c 2022-01-01 по 2023-06-01" title="Гистограмма, показывающая количество предложений домов, дач и коттеджей в Крыму по дням c 2022-01-01 по 2023-06-01">
        <img src="image_out/histogram_doma_dachi_kottedzhi_2.png" alt="Гистограмма, показывающая количество предложений домов, дач и коттеджей в Крыму по дням c 2023-06-01 по сегодняшний день" title="Гистограмма, показывающая количество предложений домов, дач и коттеджей в Крыму по дням c 2023-06-01 по сегодняшний день">
        </div>
    </li>
    <li><h3>Средняя цена руб. за квадратный метр по дням вся недвижимость</h3>
        <div class="image-container">
        <img src="image_out/av_price_1.png" alt="Гистограмма, показывающая среднюю стоимость квадратного метра недвижимости в Крыму по дням c 2022-01-01 по 2023-06-01" title="Средняя стоимость квадратного метра руб. недвижимости в Крыму по дням, вся недвижимость c 2022-01-01 по 2023-06-01">
        <img src="image_out/av_price_2.png" alt="Гистограмма, показывающая среднюю стоимость квадратного метра недвижимости в Крыму по дням c 2023-06-01 по сегодняшний день" title="Средняя стоимость квадратного метра руб. недвижимости в Крыму по дням, вся недвижимость c 2023-06-01 по сегодняшний день">
        </div>
    </li>
    <li><h3>Количество новых предложений о продаже квартир-вторички из ТОП10 городов по количеству предложений c 27-07-2022 г.</h3>
        <img src="image_out/histogram_cities.png" alt="Гистограмма, показывающая количество предложений по городам из ТОП10 городов по количеству объявлений" title="Количество новых предложений по городам из ТОП10 городов по количеству объявлений">
    </li>
    <li><h3>Количество новых предложений по квартирам-вторички по Севастополю по дням</h3>
        <div class="image-container">
        <img src="image_out/histogram_sevastopol_1.png" alt="Гистограмма, показывающая количество предложений недвижимости Севастополя по дням c 2022-01-01 по 2023-06-01" title="Количество новых предложений недвижимости в Севастополе по дням c 2022-01-01 по 2023-06-01">
        <img src="image_out/histogram_sevastopol_2.png" alt="Гистограмма, показывающая количество предложений недвижимости Севастополя по дням c 2023-06-01 по сегодняшний день" title="Количество новых предложений недвижимости в Севастополе по дням c 2023-06-01 по сегодняшний день">
        </div>
    </li>
</ol>


</body>
</html>